.vscode
*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
!modules/swagger-codegen-cli/src/main/resources/version.properties
.project
.classpath
lib/*
build/*
generated-files/*
generated-sources/*
generated-code/*
*.swp
*.swo
target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store
packages/
.pub
.packages
.vagrant/
.vscode/

.settings

*.mustache~
*.java~
*.pm~
*.xml~
*.t~

/target
/generated-files
nbactions.xml

# Python
*.pyc
__pycache__
samples/client/petstore/python/dev-requirements.txt.log
samples/client/petstore/python/swagger_client.egg-info/SOURCES.txt
samples/client/petstore/python/.coverage
samples/client/petstore/python/.projectile
samples/client/petstore/python/.venv/



venv